<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Pixel Strike</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <head>
    <link rel="icon" type="image/png" href="/samurai.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="#" />
    <style>
      * {
        box-sizing: border-box;
        font-family: 'Press Start 2P', cursive;
      }
    </style>
    <!--thank to pixabay.com-->
    <audio id="attack1Music" src="/audio/attack1.mp3"></audio>
    <audio id="attack2Music" src="/audio/attack2.mp3"></audio>
    <audio id="deathMusic" src="/audio/death.mp3"></audio>
    <audio id="jumpMusic" src="/audio/jump.mp3"></audio>
    <audio id="takeHitMusic" src="/audio/Take hit.mp3"></audio>
    <audio id="runMusic" src="/audio/run.mp3" loop="loop"></audio>
    <audio id="backgroundMusic" src="/audio/background.mp3" loop="loop"></audio>
  </head>
  <body
    style="
      background-image: url('https://images.unsplash.com/photo-1553986782-9f6de60b51b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2049&q=80');
    "
  >
    <div style="position: relative; display: inline-block">
      <div
        style="
          position: absolute;
          display: flex;
          width: 100%;
          align-items: center;
          padding: 20px;
        "
      >
        <!-- player health -->
        <div
          style="
            position: relative;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            border-top: 4px solid white;
            border-left: 4px solid white;
            border-bottom: 4px solid white;
          "
        >
          <div style="background-color: red; height: 30px; width: 100%"></div>
          <div
            id="playerHealth"
            style="
              position: absolute;
              background: #818cf8;
              top: 0;
              right: 0;
              bottom: 0;
              width: 100%;
            "
          ></div>
        </div>

        <!-- timer -->
        <div
          id="timer"
          style="
            background-color: black;
            width: 100px;
            height: 50px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border: 4px solid white;
          "
        >
          30
        </div>
        <!-- enemy health -->
        <div
          style="
            position: relative;
            width: 100%;
            border-top: 4px solid white;
            border-bottom: 4px solid white;
            border-right: 4px solid white;
          "
        >
          <div style="background-color: red; height: 30px"></div>
          <div
            id="enemyHealth"
            style="
              position: absolute;
              background: #818cf8;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            "
          ></div>
        </div>
        <div></div>
      </div>
      <div
        id="displayText"
        style="
          position: absolute;
          color: white;
          align-items: center;
          justify-content: center;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: none;
        "
      >
        Tie
      </div>
      <div
        id="player1"
        style="
          color: #ffc72c;
          position: absolute;
          display: flex;
          width: 100%;
          align-items: center;
          padding: 7px;
          margin-left: 15px;
        "
      >
        Player1
      </div>
      <div
        id="player2"
        style="
          color: #66ff00;
          position: absolute;
          display: flex;
          width: 100%;
          align-items: center;
          padding: 7px;
          margin-left: -12px;
          justify-content: flex-end;
        "
      >
        Player2
      </div>
      <canvas style="border: 2px solid black"></canvas>
    </div>
    <div class="button-container">
      <form action="/startGame" method="POST">
        <input type="hidden" name="player1Name" value="<%= player1Name %>" />
        <input type="hidden" name="player2Name" value="<%= player2Name %>" />
        <input
          type="hidden"
          name="player1Character"
          value="<%= player1Character %>"
        />
        <input
          type="hidden"
          name="player2Character"
          value="<%= player2Character %>"
        />
        <input type="hidden" name="roundTime" value="<%= roundTime %>" />
        <input type="submit" value="Restart" />
      </form>
      <form action="/" method="GET">
        <input type="submit" value="Go Back" />
      </form>
    </div>
    <!--gsap animation for health hit-->
    <style>
      .button-container {
        display: flex;
        justify-content: center;
        margin-right: 220px;
      }

      input[type='submit'] {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: 2px solid black;
        transition: all 0.3s ease-in-out;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
        margin-top: 10px;
      }

      input[type='submit']:hover {
        background-color: #45a049;
        scale: 1.1;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
      integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      let player1Name = '<%= player1Name %>';
      if (player1Name.trim() === '') player1Name = 'Player1';
      let player2Name = '<%= player2Name %>';
      if (player2Name.trim() === '') player2Name = 'Player2';
      let player1Character = '<%= player1Character %>';
      let player2Character = '<%= player2Character %>';
      let roundTime = '<%= roundTime %>';
      let healthDeduction;
      if (+roundTime === 30) healthDeduction = 17;
      else if (+roundTime === 60) healthDeduction = 15;
      else if (+roundTime === 90) healthDeduction = 12;
      else if (+roundTime === 120) healthDeduction = 9;
      else if (+roundTime === 180) healthDeduction = 7;
      else if (+roundTime === 300) healthDeduction = 4;
    </script>
    <script src="/js/utils.js"></script>
    <script src="/js/classes.js"></script>
    <script src="/js/playerChoice.js"></script>
    <script src="/js/enemyChoice.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
